@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

html, body {
	font-family: 'Lato', sans-serif;
	width:100%;
	height:100%;
	overflow:hidden;
}

#sidebar {
	position:absolute;
	top:0px;
	right:0px;
	height:100%;
	width:3px;
	background-color:#E6E6E6;
	z-index:6;
//	-moz-box-shadow: 5px 0px 100px #000;
//	-webkit-box-shadow: 5px 0px 100px #000;
//	box-shadow: 5px 0px 100px #000;
}

#arrow {
	position:absolute;
	top:-moz-calc(50% - 15px);
	top:-webkit-calc(50% - 15px);
	top:-o-calc(50% - 15px);
	top:calc(50% - 15px);
	right:3px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #E6E6E6 transparent transparent;
	z-index:6;
}

#sidebarcontainer {
	position:absolute;
	top:0px;
	right:-300px;
	height:100%;
	width:300px;
	z-index:6;
	text-align:center;
}

#description {
	display:inline-block;
	width:90%;
	text-align:left;
	margin-top:20px;
}

#date {
	display:inline-block;
	width:90%;
	color:#666666;
	text-align:right;
	margin-top:5px;
}

#thumbimg {
	margin-top:30px;
	width:260px;
	border:solid 5px #FFFFFF;
	-moz-box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	box-shadow: 0px 3px 5px #000;
}

#sidebarblocker {
	position:absolute;
	background-color: #000000;
	opacity:0;
	top:0px;
	right:0px;
	height:100%;
	width:100%;
	z-index:5;
}

#srcimg {
	-moz-box-shadow: 0px 20px 100px #000;
	-webkit-box-shadow: 0px 20px 100px #000;
	box-shadow: 0px 20px 100px #000;
	z-index:4;
}

#image {
	position:absolute;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:box;
	box-pack:center;
	box-align:center;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:3;
}

#vignette {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-image: -webkit-radial-gradient(50% 50%, ellipse farthest-side, rgba(0, 0, 0, 0.635294) 0%, rgba(0, 0, 0, 0.839216) 100%);
	z-index:2;
}

#background {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1;
}

#bcanvas {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1;
}

